* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    }

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

    @media screen and (min-width: 1920px) {
        body {
          background-color: rgb(148, 161, 166, 0.5);
        }
      }

    body {
        font-family: 'Noto Sans JP', sans-serif;
        background-color: rgb(148, 161, 166, 0.5);
    }
    h1 {
        font-family: 'Krona One', sans-serif;
        font-weight: lighter;
        padding: 0px 0px 0.3% 64%;;
      }
      /* Menu */
      .topnav {
        overflow: hidden;
        background-color: rgb(148, 161, 166, 0.2);
        font-family: 'Noto Sans', sans-serif;
    }
      
    .topnav a {
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
      
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
      
    .topnav a.active {
        background-color: darkgray;
        color: white;
    }

  footer {
    margin: 200px;
    font-size: 20px;
    text-align: center;
  }